
.basic-btn {
    /* width:100px; */
    padding-right: 4em;    
    display: inline-block; 
    box-shadow: 0 4px #cf211f; 
    top: 2px; 
    
}
.wrapper{
text-align: center; 
}
mat-icon{
    color:whitesmoke;
}
