
<h3>Your Profile</h3>
<h2>Hi {{ currentUser.displayName}}!</h2>
<h2>Hi {{ currentUser.email}}!</h2>
<h2>Hi {{ currentUser.photoUrl}}!</h2>

<h3>Change Your Profile</h3>
<span class="error" *ngIf="error">{{ error }}</span>
<form #formData='ngForm' (ngSubmit)="onSubmit(formData)">

  <input type="text" placeholder="YouName" (ngModel)="formData.name" name="name" class="txt" required>
  <input type="text" placeholder="PofilePicture" (ngModel)="formData.pictureUrl" name="pictureUrl" class="txt" required>

  <button type="submit" [disabled]="!formData.form.valid" class="basic-btn">Save Profile</button>
</form>

<uploads-list></uploads-list>



