#toolbar {
    padding:0;
    width:60%;
    /* margin-left:-35%; */
}



.basic-btn {
    width:100px;
    margin-top:0.5em;
    margin-left:6em;
    padding-right: 4em;
    
    
}

#page {
    padding:3em;
    margin:0;
}

#page img {
    margin-top:30px;
    margin-left: 30px;
}
h3{
    color: wheat;
}
h2 {
    font-size: 1em;
    margin:0;
    background-color: wheat;
    color: #00bcd4;
    text-align: center; 
    width: 30%;
    height: 10%;
    
  
}


@media (max-width: 600px) {
    #page {
        padding:1em;
    }
    #toolbar {
        width:90%;
        margin-left: -45%;
    }
}