
.mat-card {
    padding-left: 4em; 
    font-size: 22px;
    font-family: Helvetica, sans-serifd;
    background: #fff;
    color: #00bcd4;
}

@media (max-width: 600px) {
    #page {
        padding:1em;
    }
    #toolbar {
        width:90%;
        margin-left: -45%;
    }
} 